* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'Barlow',sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header-container {
    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upper-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    max-height: 150px;
}
.upper-container.hide {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.upper-container .left-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.upper-container .right-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-container .info-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.nav-container ul{
display:flex;
gap:30px;
list-style-type:none;
}

.nav-container li{
display:inline-block;
}

.nav-container button{
background:none;
border:none;
cursor:pointer;
color:black;
font-family:'Lucida Sans', Geneva, Verdana, sans-serif;
position:relative;
display:inline-block;
transition:transform 0.2s ease, color 0.2s ease;
font-size:16px;
}

.nav-container button:hover{
color:rgb(0, 100, 214);
transform:scale(1.05);
font-weight:bold;
}

.nav-container button::after{
content:"";
position:absolute;
width:0%;
height:2px;
background:rgb(0, 100, 214);;
left:0;
bottom:-3px;
transition:0.3s ease;
}

.nav-container button:hover::after{
width:100%;
}

.nav-container button.active{
color:rgb(0, 100, 214);;
font-weight:bold;
}

.nav-container button.active::after{
width:100%;
}

.right-container2 {
    display: flex;
    align-items: center;
    gap: 6px;
    height: fit-content;
}

.right-container2 .btnLog {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0px 25px 0px 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: large;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px 1px rgba(128, 128, 128, 0.384);
    transition: 0.2s ease;
}

.btnLog:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.mainNav-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mainNav-container form{
    width:33%;
}

.mainNav-container .box {
    width: 100%;
    height: 90vh;
    border: none;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* white glow overlay */
.mainNav-container .box::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.35);
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* text */
.mainNav-container .box h1 {
    transition: all 0.4s ease;
    background-color: rgba(29, 29, 29, 0.829);
    padding: 10px;
    border-radius: 10px;
    font-size: 3rem;
    position: relative;
    bottom: 40%;
    
    opacity: 0;
    transform: translateY(30px);
}

/* hover */
.mainNav-container .box:hover {
    cursor: pointer;
    transform: scale(1.01);
}

/* glow effect */
.mainNav-container .box:hover::before{
    opacity: 1;
}

/* text fade in */
.mainNav-container .box:hover h1 {
    opacity: 1;
    transform: translateY(0);
}
.featured-container {
    height: 100vh;
    position: relative;
    width: 100%;
}

.featured-container .backblur-img {
    height: 80vh;
    width: 100%;
}

.featured-container .backblur-img img {
    height: 100%;
    width: 100%;
    filter: blur(2px);
    opacity: 0.9;
    object-fit: cover;
}

.featured-title {
    position: absolute;
    top: 80px;
    left: 20px;
    color: white;
    background-color: rgba(14, 14, 14, 0.541);
    padding: 5px;
    border-radius: 5px;
}

.featured-container .top-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-img {
    width: fit-content;
    height: clamp(300px, 50vh, 600px);
}

.top-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: fit-content;
    height: clamp(300px, 50vh, 600px);
}

.top-img-main {
    width: clamp(500px, 100%, 1000px);
    height: clamp(300px, 50vh, 600px);
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.712);
    border-radius: 20px;
}

.event-title {
    position: relative;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.featured-container .slide-btns {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.featured-container .sliders {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3rem;
    color: white;
    transition: 0.2s ease-in;
}

.sliders:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.top-img-container .event-org {
    position: absolute;
    left: 10px;
    top: 5%;
    color: white;
}

.top-img-container .event-title {
    position: absolute;
    bottom: 13%;
    left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.top-img-container .event-time {
    position: absolute;
    bottom: 5%;
    left: 10px;
    color: white;
    font-size: 1.4rem;
}

.top-img-container .event-status {
    position: absolute;
    right: 15px;
    bottom: 8%;
    color: white;
    background-color: rgb(0, 170, 0);
    padding: 10px 25px;
    border-radius: 20px;
}
.org-slide-wrapper{
    width:100%;
    margin:auto;
    overflow:hidden; 
}
.org-slide-container{
    display:flex;
    gap:20px;
    align-items:center;
    width:max-content;
    animation: slide 50s linear infinite;
}
.orgs-main{
    height:15vh;
    width:auto;
}

/* animation */
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.footer-container {
    width: 100%;
    padding: 10px;
    background-color: aqua;
}

.pressedNav {
    font-weight: bold;
    color: rgb(0, 100, 214);;
    text-decoration: underline;
}